<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- File appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/opt/logs/1092800_Tom90_ENUBO/console-admin.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss.SSS} [%-5level] %msg [%logger{5}] %n</pattern>
		</encoder>
	</appender>

	<!-- Console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %highlight(%-5level) %msg %cyan([%logger{5}]) %n</pattern>
		</encoder>
	</appender>

	<springProfile name="!dev">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

</configuration>
